.commentThread {
  margin-top: 1em;
  background-color: gold;
  padding: 5px;
}

.commentIndented {
  margin-left: 20px;
}

.comment {
  display: grid;
  grid-template-columns: 5em auto;
  background-color: #fff5;
  margin-bottom: 5px;
  padding: 5px;
}
.comment:hover {
  background-color: #fff8;
}

.comment .date {
  color: #0006;
  font-size: 0.6em;
}

.comment .commenter,
.comment .label,
.comment .help /* .help uses nccomponent */,
.comment .commentId {
  color: #0008;
  font-size: 0.8em;
}
.comment .feedback {
  color: #0007; /* emulate nccomponent help */
  opacity: 0.8;
  font-size: 10px;
}
.comment .commenttext {
  background-color: #fff5;
}

.comment .commentId {
  float: right;
}

.comment .editmenu {
  visibility: hidden;
  border: none;
  font-size: 0.8em;
}
.comment:hover .editmenu {
  visibility: visible;
}

.comment .commentbar,
.comment .editbar {
  padding-top: 5px;
}

.comment .commentbar button,
.comment .editbar button {
  color: white;
  background-color: #f60;
  margin-left: 0; /* override nccomponent */
}
.comment .commentbar button:hover,
.comment .editbar button:hover {
  color: white;
  background-color: rgb(255, 141, 65);
}
.comment .commentbar button.secondary,
.comment .editbar button.secondary {
  color: #333;
}
.comment .commentbar button {
  /* visibility: hidden; */
  display: none;
}
.comment:hover .commentbar button {
  /* visibility: visible; */
  display: block;
}

.commentbar,
.editbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
