/* Z-Index

      5000  NCDialog
      3000  nc-savelert
      2010  NCDialog .dialogWindow
      2001  NCDialog .screen ==========
      2000  comment-bar
      1030  bootstrap .fixed-top
       100  commentThread
        15  NCAutoSuggest .matchlist
        15  NCNode .ncedge
        10  NCNode .nccomponent
         1  NCNode .screen ============
         1  ToolTip .modal, .tooltiptextabove, .tooltiptext
         1  nc-navbar
         0  NetCreate
*/

/* override bootstrap */
nav.fixed-top {
  z-index: inherit;
}

/* Base App: NetCrate.jsx */
.nc-base {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.nc-savealert {
  position: fixed;
  top: 0px;
  flex-grow: 1;
  background-color: rgba(256, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3000;
}
.nc-savealert > div {
  color: #fff;
  width: 100%;
  text-align: center;
}
.nc-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 38px;
  display: flex;
  flex-flow: row-reverse;
  z-index: 1;
}
/* Bootstrap override */
.nav-item {
  cursor: pointer;
}

/* SVG styles */
svg#netgraph {
  flex-basis: 100%;
  min-width: 200px;
}
svg#netgraph {
  cursor: move;
}
/* D3SimpleNetGraph redo removes links group...
svg .links line {
  stroke: #aaa;
} 
... and replaces with .edge */
svg#netgraph .edge {
  stroke: #aaa;
}
svg#netgraph .edge.selected {
  stroke: #f00;
  stroke-width: 5px;
}
svg .nodes circle {
  pointer-events: all;
}
svg#netgraph .node {
  cursor: pointer;
}
svg#netgraph .nodes text {
  color: #999;
  stroke: #666;
  stroke-width: 0px;
}
.noselect {
  user-select: none;
}

/* Tables ------------------------------------------------------------------ */
.table thead th {
  z-index: 100; /* override bootstrap, comment buttons */
}

/* Button Icons ------------------------------------------------------------ */
button.outline {
  border: none;
  color: inherit;
  background-color: transparent;
}
button.small {
  font-size: 0.75em;
}
button svg {
  width: 16px;
  height: 16px;
}
